In [12]:
import pandas as pd
df = pd.read_csv('budget_data_1.csv')
df.head()
df2 = pd.read_csv('budget_data_2.csv')
df2.head()

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933

In [15]:
df['month'] = df['Date'].map(lambda x: x.split("-")[0])
df['month'].value_counts()

Feb    4
Jan    4
Dec    4
Oct    4
Nov    4
Jul    3
May    3
Sep    3
Aug    3
Jun    3
Apr    3
Mar    3
Name: month, dtype: int64

In [69]:
df.head()

     Date  Revenue month  shifted_column  difference
0  Oct-12  1154293   Oct             NaN         NaN
1  Nov-12   885773   Nov       1154293.0    268520.0
2  Dec-12  -448704   Dec        885773.0   1334477.0
3  Jan-13   563679   Jan       -448704.0   1012383.0
4  Feb-13   555394   Feb        563679.0      8285.0

In [21]:
#total number of months in data
df.shape[0] + df2.shape[0]

127

In [25]:
#total revenue
df['Revenue'].sum() + df2['Revenue'].sum()

55945323

In [45]:
#average percent change in revenue between months
df['Revenue'].pct_change(1).agg(['mean'])

mean    0.193992
Name: Revenue, dtype: float64

In [68]:
#average change in revenue between months
df['shifted_column'] = df['Revenue'].shift(1)
df['difference'] = df["Revenue"] - df["shifted_column"]
df['difference'] = df['difference'].abs()

df2['shifted_column2'] = df2['Revenue'].shift(1)
df2['difference2'] = df2["Revenue"] - df2["shifted_column2"]
df2['difference2'] = df2['difference2'].abs()
avg_diff = (df['difference'] + df2['difference2']).mean()
print(avg_diff)

1336049.5

In [85]:
#greatest increase in revenue (date/amount)
Increase1 = (df['Revenue'] - df['shifted_column']).abs().idxmax()
Increase2 = (df2['Revenue'] - df2['shifted_column2']).abs().idxmax()
if Increase1 > Increase2:
    print(Increase1)
else:
    print(Increase2)

65

In [88]:
#greatest increase locator
df2.iloc[65]

Date                  Jun-2014
Revenue                -930753
shifted_column2    1.01699e+06
difference2        1.94774e+06
Name: 65, dtype: object

In [91]:
#greatest decrase in revenue (date/amount)
Decrease1 = (df['Revenue'] - df['shifted_column']).abs().idxmin()
Decrease2 = (df2['Revenue'] - df2['shifted_column2']).abs().idxmin()
if Decrease1 < Decrease2:
    print(Decrease1)
else:
    print(Decrease2)

4

In [93]:
df.iloc[4]

Date              Feb-13
Revenue           555394
month                Feb
shifted_column    563679
difference          8285
Name: 4, dtype: object

In [94]:
#greatest decrease in revenue, data locator
df2.iloc[4]

Date                  May-2009
Revenue                 842933
shifted_column2        -735286
difference2        1.57822e+06
Name: 4, dtype: object