In [31]:
import pandas as pd
import numpy as np
df = pd.read_csv('budget_data_1.csv')
df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [40]:
df['month'] = df['Date'].map(lambda x: x.split("-")[0])
df['month'].value_counts()

Oct    4
Nov    4
Feb    4
Jan    4
Dec    4
Apr    3
Jun    3
Jul    3
May    3
Sep    3
Aug    3
Mar    3
Name: month, dtype: int64

In [41]:
df.head()

     Date  Revenue  shifted_column  difference month
0  Oct-12  1154293             NaN         NaN   Oct
1  Nov-12   885773       1154293.0   -268520.0   Nov
2  Dec-12  -448704        885773.0  -1334477.0   Dec
3  Jan-13   563679       -448704.0   1012383.0   Jan
4  Feb-13   555394        563679.0     -8285.0   Feb

In [34]:
#total number of months in data
df.shape[0]

41

In [35]:
#total revenue
df['Revenue'].sum()

18971412

In [36]:
#average change in revenue between months
df['shifted_column'] = df['Revenue'].shift(1)
df['difference'] = df["Revenue"] - df["shifted_column"]
avg_diff = df['difference'].mean()
print(avg_diff)

# revenue_pair = list(zip(df.shifted_column[1:], df.Revenue[1:]))
# difference = [x[1] - x[0] for x in revenue_pair]
# avg_shift = (np.mean(difference))
# print(revenue_pair[:5])
# print(avg_shift)

-6758.975

In [38]:
#greatest increase in revenue (date/amount)
revenue_pair = list(zip(df.shifted_column[1:], df.Revenue[1:]))
difference = [x[1] - x[0] for x in revenue_pair]
print(max(difference))
print(df.iloc[difference.index(max(difference)) + 1].Date)

1837235.0
Feb-16

In [42]:
#greatest decrase in revenue (date/amount)
revenue_pair = list(zip(df.shifted_column[1:], df.Revenue[1:]))
difference = [x[1] - x[0] for x in revenue_pair]
print(min(difference))
print(df.iloc[difference.index(min(difference)) + 1].Date)

-1779747.0
Aug-14

Total months in data: 41
Total revenue: $18,971,412
Average change in revenue: 6758.975
greatest increase in revenue: Feb 2016, $1,837,235
greatest decrease in revenue: Aug 2014, $1,779,747